<div class="panel panel-primary" style="width: 555px !important;">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Events Calendar</h3>
    </div>

    <div class="panel-body">
        <!-- Calendar Controls here -->
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <button type="button" ng-click="calendar.previous(today.date)" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </button>
            </div>

            <div class="col-xs-6 col-sm-6">
                <button type="button" ng-click="overlay.monthlyEvents(today.date)" class="btn btn-default btn-sm btn-block active">{{ today.month | uppercase }} &nbsp; {{ today.year }}</button>
            </div>

            <div class="clearfix visible-xs-block"></div>

            <div class="col-xs-6 col-sm-3 text-right">
                <button type="button" ng-click="calendar.next(today.date)" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div> <!-- End of calendar controls -->

        <br>

        <!-- Calendar days -->
        <div class="container-fluid">
            <div class="row">
                <div class="well well-sm">
                    <ul class="weekdays">
                        <li class="text-danger">sun</li>
                        <li>mon</li>
                        <li>tue</li>
                        <li>wed</li>
                        <li>thu</li>
                        <li>fri</li>
                        <li class="text-warning">sat</li>
                    </ul>

                    <ul class="days">
                        <li ng-repeat="day in days">
                            <button title="{{day.title}}" ng-click="overlay.prompt(day.date)" class="{{ day.visible }} btn {{day.eventClass}} btn-lg {{ day.active }}">
                                {{ day.day }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>